body{
	background: #314e52;
}
.bounce {
	margin: 10% auto;
 	width: 200px;
 	height: 200px;
  border-radius: 50%;
 	background: #f2a154;
  transform-origin: top center;
  animation: bounce 2s linear alternate infinite;
  }

  @keyframes bounce {
    0%{transform: translate(0px, 0px);}
    20%{transform: translate(0px, 300px);}
    40%{transform: translate(50px, 50px);}
    60%{transform: translate(100px, 300px);}
    80%{transform: translate(100px, 150px);}
    100%{transform: translate(100px, 0);}
  }


/*.box{margin: 10% auto;width: 500px;}
.circle{width: 200px;height: 200px;border-radius:80px;border: 10px solid #f00;animation: shake .1s ease infinite;float: left;transform: rotateY(80deg) scaleY(1.5);z-index: 1}
.line{width: 250px;height: 50px;border-radius:40px;background: #f00;float: left;z-index: -1;}

@keyframes shake{
  0%, 50%, 100%{transform: translateX(200px) rotateY(80deg) scaleY(1.5);}
  25%, 75%{transform: translateX(0px) rotateY(80deg) scaleY(1.5);}
}*/
